*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 400px;
    height: 400px;
    background-color: red;
}